<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>General Store</title>
  </head>
  <body>
    <ul class="categoryEditorList">
      <% categoryRows.forEach(category => { %>
      <li class="categoryEditItem" data-id="<%= category.id %>">
        <div class="categoryEditItemInfo">
          <div class="categoryIcon">
            <% if (category.icon_svg) { %> <%- category.icon_svg %> <% } else {
            %>
            <img src="/icons/default.svg" alt="Default icon" />
            <% } %>
          </div>

          <span><%= category.name %></span>
        </div>
        <button class="deleteBtn">
          <img src="/icons/delete.svg" alt="delete category button" />
        </button>
      </li>
      <% }) %>
    </ul>

    <dialog id="categoryDialog">
      <ul id="categoryErrors" class="errors"></ul>
      <form id="categoryForm" spellcheck="false">
        <fieldset class="categoryNameInputSet">
          <label for="categoryName">Name:</label>
          <input type="text" id="categoryName" name="name" />
        </fieldset>

        <fieldset id="iconSelector" class="iconSelector">
          <!-- icons here -->
        </fieldset>
        <div class="dialogControls">
          <button type="button" id="cancelBtn" class="cancelBtn">
            <img src="/icons/cancel.svg" alt="cancel" />
          </button>
          <button type="submit" class="saveBtn">
            <img src="/icons/save.svg" alt="save" />
          </button>
        </div>
      </form>
    </dialog>

    <dialog id="iconManagerDialog">
      <form method="dialog" class="iconManagerForm" spellcheck="false">
        <ul class="iconErrors errors"></ul>
        <div class="addIconSection">
          <label for="newIconInput">Paste SVG Code:</label>
          <div class="newIconInputAndBtn">
            <input type="text" id="newIconInput" placeholder="<svg>...</svg>" />
            <button type="button" id="addIconBtn">
              <img src="/icons/save.svg" alt="save" />
            </button>
          </div>
        </div>

        <hr />

        <div id="iconList" class="iconList"></div>

        <menu>
          <button value="cancel" id="closeIconManager">
            <img src="/icons/cancel.svg" alt="close" />
          </button>
        </menu>
      </form>
    </dialog>
    <div class="bottomMenu">
      <a href="/categories"
        ><button id="backBtn">
          <img src="/icons/back.svg" alt="back button" /></button
      ></a>
      <button id="manageIconsBtn" class="dialogTrigger">
        <img src="/icons/gallery.svg" alt="edit icons button" />
      </button>
      <button id="addCategoryBtn">
        <img src="/icons/add.svg" alt="add category button" />
      </button>
    </div>
    <script src="/scripts/categoryEdit.js"></script>
    <script src="/scripts/iconEdit.js"></script>
  </body>
</html>
