<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>General store</title>
  </head>
  <body>
    <div class="app-wrapper">
      <%- include('partials/categoryList', {categoryRows}) %> <%-
      include('partials/itemList', {itemRows}) %>

      <dialog id="itemDialog">
        <ul id="itemErrors" class="errors"></ul>
        <form id="itemForm" spellcheck="false">
          <fieldset class="itemInputsSet">
            <label for="itemNameInput">Name:</label>
            <input type="text" id="itemNameInput" name="name" />
            <label for="itemPriceInput">Price:</label>
            <input type="number" id="itemPriceInput" name="price" />
            <label for="itemQuantityInput">Quantity:</label>
            <input type="number" id="itemQuantityInput" name="quantity" />
          </fieldset>
          <fieldset class="itemCategoriesSet">
            <p class="tooltip">Select categories:</p>
            <%- include('partials/categoryChecklist', { categories:
            categoryRows, categoryId }) %>
          </fieldset>

          <div class="dialogControls">
            <button type="button" id="cancelBtn" class="cancelBtn">
              <img src="/icons/cancel.svg" alt="cancel" />
            </button>
            <button type="submit" class="saveBtn">
              <img src="/icons/save.svg" alt="save" />
            </button>
          </div>
        </form>
      </dialog>

      <div class="bottomMenu">
        <form
          action="/reset"
          spellcheck="false"
          method="POST"
          class="restartForm"
        >
          <button type="submit" class="restartBtn">
            <img src="/icons/restart.svg" alt="reset database button" />
          </button>
        </form>
        <button id="addItemBtn">
          <img src="/icons/add.svg" alt="add item button" />
        </button>
      </div>
    </div>
    <div id="appRoot" data-category-id="<%= categoryId %>"></div>
    <script>
      const root = document.getElementById("appRoot")
      window.currentCategoryId = parseInt(root.dataset.categoryId) || null
    </script>
    <script src="/scripts/itemEdit.js"></script>
  </body>
</html>
