<ul class="productList">
  <% itemRows.forEach(item => { %>

  <li class="product">
    <span><%=item.name%></span>
    <span><%=item.price%></span>
    <span><%=item.quantity%></span>
  </li>
  <% }) %>
</ul>
