* {
  box-sizing: border-box;
}

/* CATEGORY BAR */
.categoryList {
  border: 1px solid red;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.categoryList a {
  border: 1px solid green;
}

.categoryCard {
  border: 1px solid blue;
}

/* CATEGORY EDITOR */

.categoryEditorList {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.categoryEditItem {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}

/* ITEMS */

.itemList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.item:hover {
  background-color: aqua;
}

.itemControls {
}

/* .allCategoriesContainer {
  display: flex;
  flex-direction: column;
}

.categoryContainer {
  display: flex;
  width: 80%;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  border: 1px solid goldenrod;
  list-style-type: none;
} */
